.sidebar-box{
    width: 22vw;
    height : 200vh;
    background: linear-gradient(to bottom,#9766d0,#7253f6);
    color: white;
}



.mi :hover {
  background-color: black!important; 
}
 .css-z5rm24{
  background-color: transparent!important;
 }

.css-16jesut >.ps-menu-button:hover {
  background-color:  black!important; 
}

.header{
  display: flex;
  margin: 0;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sizebox{

  height: 20vh;
}