
/* side bar start */


.sidebar-box{
    width: 22vw;
    height : 200vh;
    background: linear-gradient(to bottom,#9766d0,#7253f6);
    color: white;
}
.mi :hover {
  background-color: black!important; 
}
 .css-z5rm24{
  background-color: transparent!important;
 }

.css-16jesut >.ps-menu-button:hover {
  background-color:  black!important; 
}

.header{
  display: flex;
  margin: 0;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sizebox{

  height: 20vh;
}

/* side bar over */
/* --------------------------------------------------- */

/* body start */

.body{
  /* border: 2px solid black; */
  width: 70vw;
  margin-left: 5vw;
  margin-right: 8vw;
  margin-top: 10vh;
}

.Header{
  /* border: 2px solid black; */
  height: 7vh;
  display:flex;
  justify-content:space-between;
}

.Headerbox{
  border: 2px solid #C0C0C0;
  width: 12vw;
  height: 6vh;
  border-radius: 25px;
  align-items: center;
  color: #707070;
  display: flex;
  font-size: small;
  justify-content: center;
}

.dayline{
  height: 5vh;

  border: 2px solid #4F78FE;
  border-radius: 25px;
  margin-top: 15px;
}
.hidden {
  display: none;
}

.tab-list{
  display: flex;
  align-items: center;
 
 
}
.tab{
  font-size: smaller;
    color: #4F78FE;
    text-align: center;
    height: 5vh;
    display: flex;
    width: 5vw;
    align-items: center;
    margin-top: -2px;
    justify-content: center;

}
.active{
  background-color: #4F78FE;
  color: #FFFFFF;
  border-radius: 25px;
}
.add{
  color:#4F78FE ;
  position: relative;
}

/* --------------------------------------------------------------------------------------------------------------------- */
.PartA{
  border: 2px solid #D8D8D8;
  border-radius: 25px;
  margin-top: 5vh;
  height: 190vh;

}

.title{
  border: none;

  border-bottom: 2px solid #D8D8D8;
  width: 55vw;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;

}

.title::placeholder{
  color:#C5C5C5;
}

.objective{
  width: 55vw;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 25vh;
  border-radius: 25px;
  border: 2px solid #D8D8D8;
  padding-top: 2%;
  padding-left: 20px;
}
.title:focus-visible{
  outline: none;
}
.tarea{
  border: none;
  width: 100%;
}
.tarea:focus-visible{
  outline: none;
}
.tarea::placeholder{
  color:#C5C5C5;
}

.content{
  width: 55vw;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 25vh;
  border-radius: 25px;
  border: 2px solid #D8D8D8;
  padding-top: 2%;
  padding-left: 20px;
}

.application{
  display: flex;
  flex-direction: row;
}

.application{
  width: 55vw;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 35vh;
  border-radius: 25px;
  border: 2px solid #D8D8D8;

}
.app{
  width: 60%;
  padding-left: 2%;
  color: #C5C5C5;
  padding-top: 2%;
}

.app1{
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  border-right:2px solid  #C5C5C5;

}

.app2{
  width: 25%;
  border-radius: 25px;
  height: 17vh;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app3{

}
.titl2{
  border: none;

  border-bottom: 2px solid #D8D8D8;
  width: 20vw;
  margin-top: 1vh;
  margin-left: 2vw;
}

.titl2::placeholder{
  color:#C5C5C5;
}
.titl2:focus-visible{
  outline: none;
}
.con2{
  border: 2px solid  #D8D8D8;
  border-radius: 20px;
  margin-top: 2vh;
  margin-left: 2vw;
  padding: 2%;
  height: 10vh;
}

.Addapp{
  color: #4F78FE;
  border: 2px solid #4F78FE;
  border-radius:25px;
  background-color: #FFFFFF;
  margin-left: 80%;
  margin-top: 2%;
}